
h1 {
    color: crimson;
}
nav, header, footer{
    display: block;
}
nav {
    width: 100%;
    margin: 0%;
}
nav ul {
    background-color: beige;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: darkblue;

}
ul.topnav li a:hover{
    background-color: blueviolet;
    color: coral;
}